/* styles.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #191919;
}

.calendar {
  width: 70vh;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.calendar #monthYear {
  font-size: 24px;
  font-weight: 600;
  padding: 0.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f0f0f0;
  border-bottom: 1px solid #191919;
}
.header #prev,
#next {
  border: none;
  padding-bottom: 5px;
}
.weekdays,
.days {
  display: flex;
  flex-wrap: wrap;
}

.weekdays div {
  border-bottom: 1px solid #333;
  font-weight: 600;
}
.weekdays div,
.days div {
  background-color: #f0f0f0;
  width: calc(100% / 7);
  text-align: center;
  padding: 26px 10px;
  box-sizing: border-box;
}

.weekdays {
  background: #f0f0f0;
}

.sat {
  color: blue;
}

.sun {
  color: red;
}

.days div {
  cursor: pointer;
  position: relative;
}

.memo-indicator img {
  width: 15px; /* 이미지 크기를 적절히 조절 */
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: right;
}

.modal-content #memo {
  padding: 0.6em;
  box-sizing: border-box;
  resize: none; /*크기조정불가*/
}
.modal-content #saveMemo {
  background-color: #5289ff;
  color: #f0f0f0;
  border: none;
  padding: 5px 10px;
}

.modal-content #close {
  border: none;
  padding: 5px 10px;
}

#memo {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
