/* styles.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  margin: 0;
}

.input-container {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}
.input-container p {
  margin: 0 6px;
}

input {
  width: 1.5em;
  text-align: center;
  padding: 5px 0px 5px 5px;
  font-size: 2.5em;
  border: none;
  color: #fff;
  letter-spacing: 5px;
  background-color: transparent;
  outline: none;
}

input:focus {
  border-bottom: 2px solid #ececec;
}

input::placeholder {
  color: #ffffff;
}

/* 전체 브라우저에서 숫자 증감 화살표를 제거 */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0; /* Chrome, Safari, Edge */
}

/* Edge와 Internet Explorer에서 숫자 증감 화살표를 제거 */
input[type="number"] {
  -ms-appearance: textfield; /* Internet Explorer 10+ */
}

/* Opera에서 숫자 증감 화살표를 제거 */
input[type="number"]::-moz-inner-spin-button {
  -moz-appearance: none; /* Firefox */
}

.buttons {
  margin-top: 30px;
}

button {
  padding: 10px 20px;
  margin: 10px 13px 0;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background-color: #04378f;
  color: #fff;
  box-shadow: 3px 3px 3px #605e7e;
}

.buttons #stop {
  background-color: #b30faa;
}

h1 {
  margin-top: 15vh;
  display: flex;
  color: #fff;
  font-size: 28px;
}
