/* 전체 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 36px;
  color: #fff;
  margin: 45px 0 35px;
}

button {
  cursor: pointer;
}

/* 할 일 입력 */

#todo-text {
  width: 380px;
  margin: 8px;
  padding: 8px 16px;
  font-size: 18px;
}
#priority-select {
  margin: 8px;
  padding: 8px 12px;
  font-size: 18px;
}
#add-todo-button {
  margin: 12px;
  padding: 8px 24px;
  font-size: 18px;
  background-color: rgb(102, 128, 247);
  color: white;
  border: none;
}

#add-todo-button:hover {
  background-color: rgb(123, 147, 250);
}

/* 필터 버튼 */

#all-filter,
#completed-filter,
#uncompleted-filter,
#sort-priority {
  background-color: rgb(102, 128, 247);
  color: white;
  border: none;
  margin: 10px;
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 16px;
}

#all-filter:hover,
#completed-filter:hover,
#uncompleted-filter:hover,
#sort-priority:hover {
  background-color: rgb(123, 147, 250);
}

#sort-priority.active {
  background-color: rgb(178, 123, 250);
  color: white;
}

/* 할 일 목록 스타일 */

#todo-list {
  list-style-type: none;
  padding: 0;
  width: 80%;
  max-width: 740px;
}

#todo-list li {
  background: white;
  margin: 10px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
}
#todo-list li .edit-priority {
  width: 80px;
  text-align: center;
  color: white;
  padding: 5px;
  border-radius: 1em;
}

#todo-list li .low {
  background-color: rgb(126, 148, 248);
}

#todo-list li .medium {
  background-color: rgb(97, 194, 138);
}

#todo-list li .high {
  background-color: rgb(247, 136, 85);
}

#todo-list li .very-high {
  background-color: rgb(252, 79, 79);
}
#todo-list li span {
  text-align: left;
  width: 400px;
  font-size: 18px;
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
  overflow: hidden; /* 텍스트가 넘칠 경우 가림 */
  text-overflow: ellipsis; /* 넘친 텍스트는 ...으로 표시 */
}

#todo-list li.completed span {
  text-decoration: line-through;
  color: #888;
}

/* 수정 버튼 스타일 */
.edit-button,
.delete-button {
  background-color: rgb(252, 79, 79);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 8px;
}

.edit-button {
  background-color: #a1a1a1;
}

.edit-button:hover {
  background-color: #bdbdbd;
}

.delete-button:hover {
  background-color: rgb(252, 110, 110);
}

/* 모달 배경 스타일 */

#modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}

/* 수정 모달 창 스타일 */

#edit-modal {
  width: 50vh;
  position: fixed;
  text-align: center;
  border-radius: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f8ff;
  padding: 30px;
  z-index: 1005;
}

/* 수정 모달 입력 창 스타일 */
#edit-modal textarea,
#edit-modal select {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

/* 수정 버튼 스타일 */

.button-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#save-edit-button {
  width: 48%;
  background-color: #4169e1;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
#cancel-edit-button {
  width: 48%;
  background-color: #a1a1a1;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#save-edit-button:hover {
  background-color: #6495ed;
}
#cancel-edit-button:hover {
  background-color: #bdbdbd;
}
